<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniFacebook</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mini_fb/static/CSS/profile_styles.css' %}">
</head>
<body>
    <div class="container">
        <!-- Header Section -->
        <header>
            <h1>MiniFacebook</h1>
        </header>

        <!-- Navigation Bar -->
        <nav>
            {% if request.user.is_authenticated %}
            Logged in user: {{ request.user.username }}
            {%else%}
            No User Logged In
            {%endif%}

            {% if request.user.is_authenticated and request.user.profile %}
                <a href="{% url 'mini_fb:show_all_profiles' %}">All Profiles</a>
                <a href="{% url 'mini_fb:show_profile'  %}">My Profile</a>
                <a href="{% url 'mini_fb:create_status_form' %}">Create Status Message</a>
            {% else %}
                <a href="{% url 'mini_fb:show_all_profiles' %}">All Profiles</a>
                <a href="{% url 'mini_fb:create_profile' %}">Create Profile</a>
            {% endif %}
            <!-- Add: URLs for authentication -->
            {% if request.user.is_authenticated %}                    
            <form method="POST" action="{% url 'mini_fb:logout' %}">
                {% csrf_token %}
                <button type="submit">
                    Log out
                </button>
            </form>
            {% else %}
            <a href="{% url 'mini_fb:login' %}">Log in</a>
            {% endif %}
        </nav>

        <!-- Main Content Section -->
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
