{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Post a New Status</h1>

<!-- Status Message Form -->
<form method="POST" action="{% url 'mini_fb:create_status_form' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}  
        <tr>
            <th>Upload Images:</th>
            <td><input type="file" name="files" multiple></td>
        </tr>
    </table>
    <input type="submit" name="submit" value="Submit">
</form>

<a href="{% url 'mini_fb:show_profile'  %}">Back to Profile</a>

{% endblock %}
