{% extends 'mini_fb/base.html' %}
{% block content %}
<div class="news-feed">
<h2>{{ profile.first_name }}'s News Feed</h2>

{% for status in feed %}
    <article>
        <h4>
            {{ status.profile.first_name }} {{ status.profile.last_name }}
            ({{ status.timestamp }})
        </h4>
        <p>{{ status.message }}</p>
        <!-- Display Images -->
        {% for img in status.get_images %}
        <img src="{{ img.image_file.url }}" alt="Status Image">
    {% endfor %}
    </article>
{% empty %}
    <p>No updates yet.</p>
{% endfor %}

<a href="{% url 'mini_fb:show_profile'%}">Back to Profile</a>
</div>
{% endblock %}
