{% extends 'mini_fb/base.html' %}
{% load static %}

{% block content %}
<div class="profile-header">
    <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
    <a href="{% url 'mini_fb:update_status' profile.pk %}">Update</a> |
    <a href="{% url 'mini_fb:delete_status' profile.pk %}">Delete</a>

</div>

<main class="profile-container">
    <section class="profile-details">
        {% if profile.profile_image_url %}
            <img src="{{ profile.profile_image_url }}" alt="{{ profile.first_name }}'s Profile Picture">
        {% endif %}
        <div>
            <p><strong>City:</strong> {{ profile.city }}</p>
            <p><strong>Email:</strong> {{ profile.user.email }}</p>
        </div>
    </section>

    <section class="profile-status">
        <h2>Status Messages</h2>
        {% if profile.get_all_status_messages %}
            {% for status in profile.get_all_status_messages %}
            <article>
                <div>
                    <strong>Posted at {{ status.timestamp }}</strong>
                    <p>{{ status.message }}</p>
                </div>

                <!-- Display Images -->
                {% for img in status.get_images %}
                <img src="{{ img.image_file.url }}" alt="{{ img.caption }}">
                {% endfor %}
            </article>
            {% endfor %}
        {% else %}
            <p>No status messages available.</p>
        {% endif %}
    </section>
    <section class="profile-friends">
        <h2>Friends</h2>
        {% if profile.get_friends %}
            <ul class="friend-card-list">
                {% for friend in profile.get_friends %}
                <li class="friend-card">
                    <img class="friend-profile-pic" src="{{ friend.profile_image_url }}" alt="{{ friend.first_name }} {{ friend.last_name }}">
                    <a href="{% url 'mini_fb:show_profile' friend.pk %}">
                        {{ friend.first_name }} {{ friend.last_name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No friends yet.</p>
        {% endif %}
    </section>    
    <a href="{% url 'mini_fb:update_profile' profile.pk %}">Update Profile</a>
    <a href="{% url 'mini_fb:friend_suggestions' profile.pk %}">View Friend Suggestions</a>
    <a href="{% url 'mini_fb:news_feed' profile.pk %}">View News Feed</a>
    
</main>


{% endblock %}
