{% extends "mini_fb/base.html" %}

{% load static %}

{% block content %}
    <div class="profile-container">
            {% for profile in profiles %}
            <div class="profile-card">
                <a href="{% url 'mini_fb:show_profile' profile.pk %}">
                    <img src="{{ profile.profile_image_url }}" alt="{{ profile.first_name }} {{ profile.last_name }}">
                </a>
                <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
            </div>
            {% endfor %}
    </div>
{% endblock %}
