{% extends "quotes/base.html" %}
{% block content %}
    <h1>About</h1>
    <h2>Welcome to the Quote of the Day application!</h2>
    <p>This application showcases quotes from <href="https://en.wikipedia.org/wiki/J._Cole">J.Cole</a>.</p>
    <p>J. Cole is an American rapper, songwriter, and producer known for his introspective lyrics and storytelling. Born in Germany and raised in Fayetteville, North Carolina, he gained fame with mixtapes before signing with Jay-Z’s Roc Nation in 2009. His albums, including 2014 Forest Hills Drive and KOD, have topped the Billboard charts and earned critical acclaim. Beyond music, he founded Dreamville Records, engages in philanthropy, and even played professional basketball in the Basketball Africa League.</p>
{% endblock %}
