
{% extends 'playlist/base.html' %}


{% block content %}

<h2>Select an Album to Add</h2>

<div class="album-grid">
    {% for album in albums %}
    <div class="album-item">
        {% if album.album_image %}
            <div class="album-image-container">
                <img src="{{ album.album_image.url }}" alt="{{ album.title }}">
                <div class="hover-overlay">
                    <form method="post" action="{% url 'playlist:add_album_to_playlist' playlist.id album.id %}">
                        {% csrf_token %}
                        <button type="submit" class="add-button">Add</button>
                    </form>
                </div>
            </div>
        {% endif %}
        <p>{{ album.title }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}
